{:paths ["src"]
 :deps  {org.clojure/clojure           {:mvn/version "1.10.1"}
         metosin/jsonista              {:mvn/version "0.2.7"}
         inflections/inflections       {:mvn/version "0.13.2"}
         clj-fuzzy/clj-fuzzy           {:mvn/version "0.4.1"}
         http-kit/http-kit             {:mvn/version "2.4.0"}
         org.clojure/tools.deps.alpha  {:mvn/version "0.9.799"}
         org.clojure/spec.alpha        {:mvn/version "0.2.187"}
         org.clojure/data.priority-map {:mvn/version "1.0.0"}}
 :aliases
 {:debug {:extra-deps {com.clojure-goes-fast/clj-async-profiler {:mvn/version "0.4.1"}
                       net.harawata/appdirs {:mvn/version "1.2.0"}}}
  :test  {:extra-paths ["test"]
          :extra-deps  {org.clojure/test.check {:mvn/version "RELEASE"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha     "6ec7f8eef509cd14d831e8cc16e856b31327a862"}}
   :main-opts  ["-m" "cognitect.test-runner"
                "-d" "test"]}}}
